.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 12.5%;
  background-color: blue;
  flex: 1;
}

.Logo {
  flex: 1;
  width: 25%;
  background-color: green;
}

.Login {
  flex: 1;
  align-content: flex-end;
  justify-content: flex-end;
  background-color: silver;
}

.AirportPageMenu {
  flex: 2;
  align-content: center;
  justify-content: center;
  background-color: yellow;
  vertical-align: middle;
  display: grid;
}

.Main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 80%;
  background-color: salmon;
  flex: 2;
  align-items: stretch;
  position: relative;
}

.UserMenu {
  flex: 1;
  max-height: 5%;
  background-color: aqua;
}

.Content {
  flex: 2;
  min-height: 95%;
  background-color: gold;
  display: flex;
  align-content: center;
  justify-content: center;
}

.ContentContainer {
  width: 80%;
  align-content: center;
  justify-content: center;
}

.Footer {
  display: flex;
  width: 100%;
  max-height: 7.5%;
  background-color: chocolate;
  flex: 3;
}

